.about {
  grid-area: about;
  margin-bottom: 4rem;

  &__title {
    margin-left: 15.4rem;
    margin-bottom: 5.1rem;

    display: block;
    width: 36.1rem;

    font-size: $fz-title-big;
    font-weight: 900;
    color: $black;
    line-height: 1.1;
  }

  &__inner {
    display: flex;
    gap: 3.6rem;
  }

  &__item {
    width: 63.9rem;
    min-height: 10rem;

    position: relative;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 58.5rem;
    height: 42.7rem;
    object-fit: cover;
    box-shadow: 0px 100px 60px -50px rgba(0, 0, 0, 0.44);

    z-index: -1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 4.8rem;

    margin-top: 32.8rem;
    padding: 10rem;
    width: 58.3rem;
    background-color: rgba($white, 0.94);

    z-index: 20;
  }

  &__item-title {
    font-size: $fz-title;
    font-weight: 900;
    line-height: 1.2;
    color: $black;
  }

  .list {
    font-size: $fz;
    font-weight: 400;
    line-height: 1.6;
    color: $black;

    &__item {
      margin-left: 3rem;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 2.8rem;
      }

      &:before {
        content: "";
        display: block;
        width: 1.4rem;
        height: 0.25rem;
        background-color: $blue;

        position: absolute;
        left: -3rem;
        top: .8rem;

        z-index: 2;
      }
    }
  }
}
