.vertical-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
   width: 98.5rem;
   height: 100%;
   display: flex;
   justify-content: space-between;



   &__item {
       position: relative;
       display: block;
       width: 1px;
       height: 100%;
       background-color: rgba(#ccc, 0.2);



       .decor-line {
           position: absolute;
           left: 50%;
           transform: translateX(-50%);
           width: 2.5px;
           height: 1.4rem;
           background-color: $blue;

           &:first-child {
               top: 25rem;
           }

           &:nth-child(2n){
               top: 180.4rem;
           }

           &:last-child {
               top: 365.8rem;
           }

           &--col-2 {
            &:first-child {
                top: 16.7rem;
            }

            &:nth-child(2n){
                top: 215rem;
            }

            &:last-child {
                top: 445rem;
            }
           }

           &--col-3 {
            &:first-child {
                top: 95rem;
            }

            &:nth-child(2n){
                top: 327rem;
            }

            &:last-child {
                top: 395.5rem;
            }
           }

           &--col-4 {
            &:first-child {
                top: 22rem;
            }

            &:nth-child(2){
                top: 102rem;
            }

            &:nth-child(3) {
                top: 330rem;
            }

            &:nth-child(4) {
                top: 191rem;
            }

            &:last-child {
                top: 450.5rem;
            }
           }
       }
   }
}

.sun{
    &-item{
        position: absolute;
        width: 6.65rem;
        height: 6.65rem;
        background-color: $yellow;
        border-radius: 100%;
        filter: blur(1.2rem);

        &:nth-child(1){
            top: 81.6rem;
            right: -2rem;
        }

        &:nth-child(2){
            top: 205rem;
            left: 68.8rem;
        }

        &:nth-child(3){
            top: 353rem;
            left: 83rem;
        }
    }
}


.circle {
    &-item{
        position: absolute;
        width: 86.2rem;
        height: 86.2rem;
        border: 20rem solid $blue;
        border-radius: 100%;
        opacity: 0.95;

        &:first-child{
            right: -60rem;
            top: 310rem;
        }

        &:last-child{
            width: 38rem;
            height: 38rem;
            bottom: -36rem;
            left: 2rem;
        }
    }
}
