.advantages{
    grid-area: advantages;
    padding: 14rem 0 9rem;

    &__inner{
        display: flex;
        justify-content: flex-start;
    }

    &__expert{
        display: flex;
        gap: 8rem;
        flex-direction: column;
        justify-content: flex-end;
        width: 64rem;
        height: 109.8rem;

        background: url('../images/advantages-expert.png') bottom no-repeat;
        box-shadow: 0px 100px 60px -50px rgba(0, 0, 0, 0.44);
        position: relative;

        padding: 12.8rem 10rem;
        margin-top: -55.8rem;
        z-index: 3;

        &:before{
            display: block;
            content: "";
            width: inherit;
            height: inherit;
            background: $blue;
            opacity: 0.8;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 20;
        }
    }

    &__title{
        width: 44.3rem;
        font-size: $fz-title-big;
        font-weight: 900;
        line-height: 1.1;
        color: $white;
        z-index: 30;
    }

    &__btns{
        display: flex;
        gap: 3.2rem;
        z-index: 30;
    }

    &__text{
        display: flex;
        gap: 3.2rem;
        flex-direction: column;
        width: 67.3rem;
        max-height: 72rem;

        padding: 11.3rem;
        margin-left: -5.7rem;

        overflow: auto;

        font-size: $fz;
        line-height: 1.6;
        color: $black;
        font-weight: 400;
        background: linear-gradient(269.06deg, #E2E3E5 0.44%, #F4F4F4 98.83%);
        box-shadow: 0px 100px 60px -50px rgba(0, 0, 0, 0.44);

        z-index: 5;
    }
}
