.btn{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: $white;
    font-family: $ff-gotham;
    font-size: $fz;
    font-weight: 900;
    line-height: 1.2;

    padding: 1em 2em;
    background-color: $blue;
    border: 0;

    @include transition(background);

    &:hover{
        background-color: darken($blue, 10%);
    }

    &--white{
        color: $blue;
        background: $white;
        @include transition(background);

    &:hover{
        background-color: darken($white, 10%);
    }
    }

    &--prev,
    &--next{
        width: 8rem;
        height: 8rem;

        display: flex;
        justify-content: center;
        align-items: center;

        @include transition(background);
        path{
            @include transition(fill);
        }
        &:hover{
            background:$white;
            path{
                fill: $black;
            }
        }
    }
}
