.footer{
    grid-area: footer;
    width: 100%;
    padding: 4rem 0;
    &__copy{
        text-align: center;
        font-size: $fz;
        font-weight: 400;
        color: $black;
        opacity: 0.5;
    }
}
