.header {
    position: fixed;
    width: 168rem;
    padding:0 5.2rem;
    opacity: 0.95;
    background-color: $white;

    z-index: 1000;
  &__inner {
      width: 100%;
    padding: 4.8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    flex-grow: 1;
  }

  .nav {
    display: flex;
    gap: 3.2rem;
    color: $black;

    &__link {
      text-decoration: none;
      color: inherit;
      font-weight: 900;
      @include transition(color);
      &:hover {
        color: $blue;
      }
    }
  }

  .buttons-group {
    display: flex;
    gap: 3.2rem;

    .btn{
        margin-left: 6rem;
    }

    .btn-language{
        border: 0;
        background: none;
    }
  }
}
