.intro {
  grid-area: intro;
  padding: 26.4rem 0 14rem 3.1rem;

  &__inner {
    background:url("../images/intro-bg.png") center no-repeat;
    background-size: contain;
    width: 119.4rem;
    height: 64.5rem;
    z-index: 10;
    position: relative;

    &:before{
        content: "";
        display: block;
        width: 119.4rem;
        height: 64.5rem;
        background: linear-gradient(
          270deg,
          rgb(226, 227, 229) 38%,
          rgba(0, 0, 0, 0) 60%
        );
        box-shadow: -60px 100px 60px -50px rgba(0, 0, 0, 0.44);

        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
  }

  &__content{
      display: flex;
      gap: 3.2rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding: 13.5rem 7.3rem 10.6rem 0;
      margin-left: auto;
      width: 43%;
      z-index: 20;
  }

  &__title{
      font-size: $fz-title;
      font-weight: 900;
      line-height: 1.2;
      color: $black;

      span{
          color: $blue;
      }
  }

  &__text{
      width: 32rem;

      font-size: $fz;
      font-weight: 400;
      line-height: 1.6;
      color: $black;
  }

  &__link{
      margin-left: 3rem;
      margin-bottom: 0.8rem;

      font-size: $fz;
      font-weight: 900;
      color: $blue;
      text-decoration: none;

      position: relative;

      @include transition(color);

      &:hover{
          color: $blue-3;
      }

      &:before {
        content: "";
        display: block;
        width: 1.4rem;
        height: 0.25rem;
        background-color: $blue;

        position: absolute;
        left: -3rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
      }
  }
}
