.reviews {
  grid-area: reviews;
  padding-bottom: 16rem;

  &__title {
    margin-left: auto;
    margin-right: 30.6rem;
    margin-bottom: 5.1rem;

    display: block;
    width: 36.1rem;

    font-size: $fz-title-big;
    font-weight: 900;
    color: $black;
    line-height: 1.1;
  }

  &__inner {
    width: 105.8rem;
    height: 61.3rem;
    margin: 0 auto 0 11rem;
    position: relative;
    .slider__arrows{
        position: absolute;
        bottom: 10.8rem;
        left: 30.3rem;
        z-index: 100;

        display: flex;
    }
  }

  .slider {
    width: 100%;
    height: 100%;
    background: url("../images/reviews-bg.png") center no-repeat;

    &__item,
    .slick-slide {
        width: 100%;
      padding: 12.8rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &-photo {
          width: 20.3rem;
          height: 23.6rem;
          object-fit: cover;

          box-shadow: -9.33405px 88.6734px 60.6713px -53.6708px rgba(0, 0, 0, 0.4);
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      gap: 2.8rem;
      flex-basis: 50%;
      padding-top: 10rem;
      padding-left: 6rem;
      padding-right: 6rem;
      padding-bottom: 3rem;

      &-name {
        font-size: $fz-title;
        font-weight: 900;
        line-height: 1.2;
        color: $black;
      }
      &-text {
        font-size: $fz;
        font-weight: 400;
        line-height: 1.6;
        color: $black;
      }
      &-prof {
        margin-left: 3rem;
        font-size: $fz;
        font-weight: 900;
        color: $blue;

        position: relative;
        &:before {
          content: "";
          display: block;
          width: 1.4rem;
          height: 0.25rem;
          background-color: $blue;

          position: absolute;
          left: -3rem;
          top: 50%;
          transform: translateY(-50%);

          z-index: 2;
        }
      }
    }
  }
}
