.sidebar {
    position: fixed;
  grid-area: sidebar;
  padding-top: 33.7rem;
  padding-left: 5.2rem;

  .menu {
      margin-bottom: 6rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.4rem;

    color: $black;
    font-size: $fz;
    font-weight: 500;

    .active{
        color: $blue;
        &:before{
            opacity: 1;
        }
      }

    &__link {
      line-height: 1.1;
      position: relative;
      &:not(:first-child) {
        padding-right: 1rem;
      }
      &:before {
        content: "";
        display: block;
        opacity: 0;
        width: 2.8rem;
        height: 0.25rem;
        background-color: $blue;

        position: absolute;
        left: -5.2rem;
        top: 50%;
        transform: translateY(-50%);
      }

      a {
        text-decoration: none;
        color: inherit;

        @include transition(color);
        &:hover {
          color: $blue;
        }
      }
    }

  }

  .socials{
      width: 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.2rem;

      &__link{

          &:hover path{
            fill: darken($blue, 10%);
          }
      }
  }
}
