@import "./vars.scss";
@import "./mixins.scss";
@import "./vendor/reset.scss";

@font-face {
  font-family: "Gotham-Black";
  src: url("../fonts/Gotham-Black.otf") format("opentype");
  font-weight: black;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamBook.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  min-height: 100%;
  width: 168rem;
  margin: 0 auto;


  font-family: $ff-gotham;
  font-weight: 400;
  font-size: 1.6rem;
  color: $black;
}

.relative{
    position: relative;
}

.absolute{
    width: 100%;
    height: 503rem;
    display: block;
    position: absolute;
    overflow: hidden;
}
.content {
    overflow: hidden;
  display: grid;
  grid-template-columns: 21.2rem 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar intro"
    "sidebar advantages"
    "sidebar about"
    "sidebar reviews"
    "gallery gallery"
    "footer footer";

}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 124rem;
  margin: 0 auto;
}

.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}
.jc-c {
  display: flex;
  justify-content: center;
}

.title {
//   font-size: $fz-xl;
  font-weight: 700;
}

@import "block/sidebar.scss";
@import "block/absolute-item.scss";
@import "block/menu.scss";
@import "block/header.scss";
@import "block/services.scss";
@import "block/intro.scss";
@import "block/btn.scss";
@import "block/about.scss";
@import "block/advantages.scss";
@import "block/reviews.scss";
@import "block/gallery.scss";
@import "block/footer.scss";
