
// ==== COLORS =====

$black: #000000;
$white: #ffffff;

$grey: #ccc;
$grey-2: #E2E3E5;

$blue: #0041DB;
$blue-2: #005BBF;
$blue-3: #0039F0;

$red: #AD1519;
$red-2: #C60B1E;
$red-3: #DB4446;
$red-4: #ED72AA;

$green: #058E6E;

$yellow: #FFC400;
$yellow-2: #FCEF4F;
$yellow-3: #FFD691;


$gold: #C8B100;
$gold-2: #C7B500;

// ==== COLORS END =====


// ==== FONTS =====

$ff-gotham: 'Gotham', sans-serif;

// ==== FONTS END =====


// ==== FONTS SIZE =====

$fz: 1.6rem;
$fz-title: 3.6rem;
$fz-title-big: 7.8rem;

// ==== FONTS SIZE END=====



