---
layout: default
title: Immigration & Tax Services
---

<aside class="sidebar">
  <ul class="menu">
    <li class="menu__link active">
      <a href="#">Immigration & Tax Services</a>
    </li>
    <li class="menu__link"><a href="#about">Why choose Gloria</a></li>
    <li class="menu__link"><a href="#">What We Do</a></li>
    <li class="menu__link"><a href="#">What They Say</a></li>
  </ul>

  <div class="socials">
    <a href="" class="socials__link">
      <svg
        width="9"
        height="17"
        viewBox="0 0 9 17"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.34812 9.38232L8.81153 6.36365H5.91484V4.40472C5.91484 3.57903 6.31934 2.77367 7.61678 2.77367H8.93351V0.203816C8.93351 0.203816 7.73876 0 6.59614 0C4.21081 0 2.6517 1.446 2.6517 4.06329V6.36417H0V9.38284H2.6517V16.6806H5.91484V9.38284L8.34812 9.38232Z"
          fill="#0041DB"
        />
      </svg>
    </a>
    <a href="" class="socials__link">
      <svg
        width="16"
        height="14"
        viewBox="0 0 16 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.91888 13.1909C6.11956 13.1984 7.30979 12.971 8.42053 12.5221C9.53127 12.0732 10.5404 11.4116 11.3894 10.5757C12.2385 9.73987 12.9105 8.74636 13.3665 7.65283C13.8225 6.55931 14.0534 5.38753 14.0458 4.20546V3.79258C14.6682 3.34364 15.2069 2.79198 15.6381 2.16203C15.052 2.41438 14.4319 2.58174 13.797 2.65889C14.4701 2.26405 14.9752 1.64255 15.2187 0.909383C14.5914 1.27989 13.9035 1.54035 13.1857 1.67917C12.7023 1.17207 12.0626 0.835943 11.3657 0.722806C10.6687 0.609669 9.95324 0.725825 9.33006 1.0533C8.70688 1.38078 8.21069 1.90132 7.91827 2.53438C7.62585 3.16745 7.5535 3.87774 7.71241 4.55536C6.43722 4.49374 5.1895 4.16839 4.05051 3.60048C2.91153 3.03258 1.9068 2.23487 1.10177 1.25929C0.695839 1.95291 0.572799 2.77249 0.757565 3.55207C0.942331 4.33165 1.4211 5.01298 2.09692 5.45811C1.59836 5.43918 1.11134 5.30493 0.67528 5.06622V5.10121C0.67085 5.82609 0.918894 6.53057 1.37807 7.09724C1.83725 7.66391 2.47982 8.05853 3.1987 8.21534C2.73498 8.33813 2.24925 8.35725 1.77705 8.27132C1.98517 8.88952 2.38245 9.4292 2.9144 9.81634C3.44635 10.2035 4.08693 10.4191 4.74829 10.4337C3.61752 11.3298 2.21214 11.8231 0.760579 11.8333C0.506072 11.8261 0.252162 11.805 0 11.7703C1.46924 12.6919 3.17681 13.1778 4.91888 13.17"
          fill="#0041DB"
        />
      </svg>
    </a>
  </div>
</aside>

<!-- absolute decor item -->
    

<!-- /end absolute decor item  -->

<!-- Intro block -->
<section class="intro">
  <div class="intro__inner">
      <div class="intro__content">
        <h2 class="intro__title">Professional <span>Immigration & Tax</span>  Services</h2>
        <div class="intro__text">Individuals and families, small business owners and entrepreneurs we will spare you from any immigration and tax preparation worries you may have!</div>
          <a href="" class="intro__link">Learn more</a>
          <button class="btn">Contact Us</button>
      </div>
  </div>
</section>
<!--/.Intro-->

<!--  Advantages block -->
<section class="advantages">
    <div class="advantages__inner">
      <div class="advantages__expert advantages__expert-photo">
          <h2 class="advantages__title">Why Choose Gloria:</h2>
          <div class="advantages__btns">
              <buttons class="btn btn--white">Call Gloria</buttons>
              <buttons class="btn btn--white">Send Email</buttons>
          </div>
      </div>
      <div class="advantages__text">
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
          <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
          <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>
      </div>
  </div>
</section>
<!-- /.Advantages  -->

<!-- About -->
<section class="about" id="about">
    <h2 class="about__title">What We Do</h2>
  <div class="about__inner">
    <div class="about__item">
        <img src="assets/images/about-item-1.jpg" alt="" class="about__image">
        <div class="about__content">
            <h3 class="about__item-title">Immigration</h3>
        <ul class="list">
            <li class="list__item">Family petition, Spousal visa( CR1 visa)</li>
            <li class="list__item">K1 Fiance Visa	CR1/IR1   Spousal Visa	K-3</li>
            <li class="list__item">Green card application/renewal<br> Asylum Applications <br> Citizenship</li>
            <li class="list__item">Adjustment of status, removal conditions</li>
            <li class="list__item">Affidavit of support</li>
            <li class="list__item">U-Visa’s and Obtaining U-Visa Certifications</li>
            <li class="list__item">Letter invitation </li>
            <li class="list__item">Minor authorization</li>
            <li class="list__item">Immigration files (FOIA ) and FBI </li>
            <li class="list__item">Adjustment of Status under the Violence Against Women Act (VAWA)</li>
            <li class="list__item">Translation</li>
            <li class="list__item">Notary Publi</li>
        </ul>
        <button class="btn">Contact Us</button>
        </div>

    </div>
    <div class="about__item">
        <img src="assets/images/about-item-2.jpg" alt="" class="about__image">
        <div class="about__content">
            <h3 class="about__item-title">Tax</h3>
        <ul class="list">
            <li class="list__item">For Individuals and Business</li>
            <li class="list__item">Annual filings</li>
            <li class="list__item">Business incorporation, Licenses & Permits</li>
            <li class="list__item">Itin Number New andrenewal</li>
            <li class="list__item">Full-charge-bookkeeping</li>
            <li class="list__item">Payroll sales tax</li>
        </ul>
        <button class="btn">Contact Us</button>
        </div>
    </div>
  </div>
</section>
<!-- /.About -->

<!-- Reviews block -->
<section class="reviews">
    <h2 class="reviews__title">What They Say</h2>
  <div class="reviews__inner">
      <div class="slider__arrows">
                <button class="btn btn--prev">
                    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.82968 15C6.68028 15.0005 6.53267 14.9676 6.39769 14.9035C6.26271 14.8395 6.14379 14.7461 6.04968 14.63L1.21968 8.63003C1.07259 8.4511 0.992188 8.22666 0.992188 7.99503C0.992188 7.76341 1.07259 7.53896 1.21968 7.36003L6.21968 1.36003C6.38941 1.15581 6.63333 1.02739 6.89775 1.00301C7.16218 0.978631 7.42546 1.06029 7.62968 1.23003C7.83389 1.39977 7.96232 1.64368 7.9867 1.90811C8.01108 2.17253 7.92941 2.43581 7.75968 2.64003L3.28968 8.00003L7.60967 13.36C7.73196 13.5068 7.80964 13.6856 7.83351 13.8751C7.85739 14.0647 7.82648 14.2571 7.74442 14.4296C7.66237 14.6021 7.53261 14.7475 7.3705 14.8486C7.20838 14.9497 7.02071 15.0023 6.82968 15Z" fill="#fff"/>
                        </svg>
                </button>
                <button class="btn btn--next">
                    <svg width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.17032 15C1.31972 15.0005 1.46733 14.9676 1.60231 14.9035C1.73729 14.8395 1.85621 14.7461 1.95032 14.63L6.78032 8.63003C6.92741 8.4511 7.00781 8.22666 7.00781 7.99503C7.00781 7.76341 6.92741 7.53896 6.78032 7.36003L1.78032 1.36003C1.61059 1.15581 1.36667 1.02739 1.10225 1.00301C0.837822 0.978631 0.574541 1.06029 0.370325 1.23003C0.166108 1.39977 0.037684 1.64368 0.0133042 1.90811C-0.0110755 2.17253 0.0705857 2.43581 0.240324 2.64003L4.71032 8.00003L0.390325 13.36C0.268042 13.5068 0.190365 13.6856 0.166485 13.8751C0.142606 14.0647 0.173522 14.2571 0.255579 14.4296C0.337635 14.6021 0.467394 14.7475 0.629505 14.8486C0.791615 14.9497 0.979291 15.0023 1.17032 15Z" fill="#fff"/>
                        </svg>
                </button>
            </div>
        <div class="slider">

            <div class="slider__item">
                <img src="assets/images/reviews-author.jpg" alt="" class="slider__item-photo">
                <div class="slider__content">
                    <h3 class="slider__content-name">Diego Arbeláez</h3>
                    <div class="slider__content-text">“Conocí a Gloria en Queens, me dio una cita y estuve en su oficina recibiendo su asesoría, fue de vital ayuda para mí porque supe como proceder según mi status migratorio, la recomiendo”</div>
                    <div class="slider__content-prof">Director de Recursos Humanos</div>
                </div>
            </div>
            <div class="slider__item">
                <img src="assets/images/reviews-author-2.jpg" alt="" class="slider__item-photo">
                <div class="slider__content">
                    <h3 class="slider__content-name">Dr.House</h3>
                    <div class="slider__content-text">“Conocí a Gloria en Queens, me dio una cita y estuve en su oficina recibiendo su asesoría, fue de vital ayuda para mí porque supe como proceder según mi status migratorio, la recomiendo”</div>
                    <div class="slider__content-prof">Director de Recursos Humanos</div>
                </div>
            </div>
            <div class="slider__item">
                <img src="assets/images/reviews-author-3.jpg" alt="" class="slider__item-photo">
                <div class="slider__content">
                    <h3 class="slider__content-name">Winston Churchill</h3>
                    <div class="slider__content-text">“Conocí a Gloria en Queens, me dio una cita y estuve en su oficina recibiendo su asesoría, fue de vital ayuda para mí porque supe como proceder según mi status migratorio, la recomiendo”</div>
                    <div class="slider__content-prof">Director de Recursos Humanos</div>
                </div>
            </div>
            <div class="slider__item">
                <img src="assets/images/reviews-author-4.jpg" alt="" class="slider__item-photo">
                <div class="slider__content">
                    <h3 class="slider__content-name">Juck Noris</h3>
                    <div class="slider__content-text">“Conocí a Gloria en Queens, me dio una cita y estuve en su oficina recibiendo su asesoría, fue de vital ayuda para mí porque supe como proceder según mi status migratorio, la recomiendo”</div>
                    <div class="slider__content-prof">Director de Recursos Humanos</div>
                </div>
            </div>
        </div>
  </div>
</section>
<!-- /.Reviews -->

<!-- Gallery block -->
<div class="gallery">
  <img src="assets/images/gallery/gallery.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-2.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-3.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-4.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-5.jpg" alt="" class="gallery__image" />
  <img src="assets/images/gallery/gallery-6.jpg" alt="" class="gallery__image" />
</div>
<!-- /.Gallery -->
