<!DOCTYPE html>
<html lang="uk">
<head>
    {{> head }}
</head>
<body>
    <div class="relative">
        <div class="absolute">
            <div class="vertical-line">
                <div class="vertical-line__item">
                    <div class="decor-line"></div>
                    <div class="decor-line"></div>
                    <div class="decor-line"></div>
                </div>
                <div class="vertical-line__item">
                    <div class="decor-line decor-line--col-2"></div>
                    <div class="decor-line decor-line--col-2"></div>
                    <div class="decor-line decor-line--col-2"></div>
                </div>
                <div class="vertical-line__item">
                    <div class="decor-line decor-line--col-3"></div>
                    <div class="decor-line decor-line--col-3"></div>
                    <div class="decor-line decor-line--col-3"></div>
                </div>
                <div class="vertical-line__item">
                    <div class="decor-line decor-line--col-4"></div>
                    <div class="decor-line decor-line--col-4"></div>
                    <div class="decor-line decor-line--col-4"></div>
                    <div class="decor-line decor-line--col-4"></div>
                    <div class="decor-line decor-line--col-4"></div>
                </div>
            </div>

            <div class="sun">
                <div class="sun-item"></div>
                <div class="sun-item"></div>
                <div class="sun-item"></div>
            </div>

            <div class="circle">
                <div class="circle-item"></div>
                <div class="circle-item"></div>
            </div>
        </div>
    </div>


    {{> header }}

    <main class="content">
        {{> body }}
    </main>

    {{> footer }}





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/js/slick.js"></script>
</body>
</html>
